<p>
  <span class="post-counter"><%= post.format_rating %></span>
  <%= link_to "u/#{post.user.username}", post.user, class: 'user-link' %>
  <span class="creation-time"> • <%= distance_of_time_in_words(post.created_at.to_i, Time.now.utc.to_i) %> ago</span>
</p>

<% if link_title %>
  <%= link_to post.title, post, class: 'post-title' %>
<% else %>
  <p class="post-title"><%= post.title %></p>
<% end %>

<% if show_body %>
  <p class="post-body"><%= post.body %></p>
<% end %>

<% if post.picture_url && show_picture %>
  <a href="/posts/<%= post.id %>">
    <%= image_tag post.picture_url, size: "700x400" %>
  </a>
<% end %>

<% if post.post_url && show_url %>
  <%= link_to post.post_url, post.post_url, class: 'post-url' %>
<% end %>

<% if show_comments %>
  <%= link_to "#{post.comments.size} comments", post, class: 'comment-count' %>
<% end %>
